 ------
 Manifest Editor
 ------
 Mauro Talevi
 Hiram Chirino
 ------
 2008-07-21
 ------

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

Manifest Editor

  Allows you to update the first jar manifest found.  If none was found a new one will created.

* Making an Executable Jar

  To create an executable uber jar, one simply needs to set the main class that serves as the application entry point:

  <Example to set the> <<<Main-Class>>> <entry in the> <<<MANIFEST.MF>>> :
  
+-----
  ...
  <transformer implementation="org.fusesource.mvnplugins.uberize.transformer.ManifestEditor">
    <Main-Class>org.sonatype.haven.HavenCli</Main-Class>
  </transformer>
  ...
+-----

* Setting Other Manifest Headers

  Any header of your choosing can be added in the  <<<\<manifestEntries\>>>> option.

  <Example:>

+-----
  ...
  <transformer implementation="org.fusesource.mvnplugins.uberize.transformer.ManifestEditor">
    <manifestEntries>
      <Main-Class>org.sonatype.haven.ExodusCli</Main-Class>
      <Build-Number>123</Build-Number>
    </manifestEntries>
  </transformer>
  ...
+-----
